.container {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;
    min-height: 100vh;        
  }

  .container h5 {
    color: white;
    text-decoration: none;
    text-shadow: 
    -1px -1px 0 #205a00,
     1px -1px 0 #205a00,
    -1px  1px 0 #205a00,
     1px  1px 0 #205a00;
    padding: 8px 15px;
  }

  .container img{
    max-width: 100%;
    height: auto;
  }