body {
    margin: 0;
    background-color: #95db4f;
    font-family: 'Poppins';
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
  }

  .navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 
    -1px -1px 0 #205a00,
     1px -1px 0 #205a00,
    -1px  1px 0 #205a00,
     1px  1px 0 #205a00;
    padding: 8px 15px;
    border-radius: 25px;
  }

  .navbar a:hover {
    background-color: #346900;
    border-radius: 25px;
    transition: 0.3s;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

  .auth-buttons {
  display: flex;
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
}

  .auth-buttons .login {
  color: #8ed94f;
  font-weight: 800;
  text-decoration: none;
}

  .auth-buttons .entrar {
  font-weight: 800;
  color: #8ed94f;
  text-decoration: none;
}

@media (max-width: 600px) {

  .navbar {
      flex-direction: column;
      text-align: center;
  }

  .nav-links {
      flex-direction: column;
      gap: 10px;
      padding-top: 20px;
  }

  .auth-buttons {
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
  }
}